<span class="heading">Rate & Review</span>
<form action="">
  <span>Rate:</span>     
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>

  <div class="form-group">
      <label for="review">Review:</label>
      <textarea class="form-control" id="review" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>