.tab {
    display: none;
}
.step {
    height: inherit;
    width: inherit;
    margin: auto;
    /* background-color: #66ccff; */
    display: inline-block;
    opacity: 0.5;
    padding: 10px 10px 10px 10px;
    /* color: white; */
    color: black;
  }
  
/* Mark the active step: */
.step.active {
  opacity: 1;
  /* background-color: #3399ff; */
  /* border-bottom: 2px solid #3399ff;  */
}

.progress{
    width: 45%;
    margin: auto;
    margin-bottom: 4%;
}
#regForm {
  background-color: rgb(250, 250, 250);
  padding-top: 2em;
  padding-bottom: 2em;
}
label {
  color: rgb(8, 8, 8);
}
.fa-pencil {
  position: relative;
  bottom: -3px;
  cursor:pointer;
}
.fa-trash-o, .fa-check {
  position: relative;
  bottom: -3px;
  left: 10px;
  cursor:pointer;
}
.fa-plus-circle {
  cursor:pointer;
}
.fa-undo {
  padding-right: 4%;
}
.nav-link {
  display: inline-block;
}
.input-chapter-title {
  width: 85%;
  height: 50%;
  outline: 0;
}