<!-- 
<h6>Multi Step Form</h6>
<ul>
  <li>#1 Create Cover Page</li>
  <li>#2 Fill Basic Details</li>
  <li>#3 Add Chapters</li>
  <ul>
    <li>In the left side there will be a mini navigation bar to add many chapters (there will be '+' button)</li>
    <li>In the right side, creating/editing the chapter </li>
  </ul>
</ul>

  -->

<div class="d-flex justify-content-between">
  <span class="step">
    <small>Step 1
      <br>Design Coverpage</small>
  </span>
  <span class="step">
    <small>Step 2
      <br>Summarize the Story</small>
  </span>
  <span class="step">
    <small>Step 3
      <br>Write Story</small>
  </span>
</div>
<div class="progress">
  <div class="progress-bar" [appProgressBar]="progress"></div>
</div>

<form id="regForm" [formGroup]="storyForm" novalidate>
  <div class="container" class="tabbed-regform">
    <!-- One "tab" for each step in the form: -->

    <!-- Coverpage Upload and Edit -->
    <div class="tab">
      <div class="container">
        <creative-sdk imageUrl="http://www.darrekderstinephotography.com/photos/full/Falls_I.jpg"></creative-sdk>
      </div>
    </div>

    <!-- Fill basic information about story -->
    <div class="tab">
      <div class="container"> -->
        <!-- 
              Form inputs : 
              1) Title
              2) Summary
              3) Language
              4) Genre
             -->
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="form-group">
              <label for="title">Story Title: </label>
              <input type="text" class="form-control" id="title" aria-describedby="titleHelp">
              <small id="titleHelp" class="form-text text-muted">
                Give an attractive story title!
              </small>
            </div>
            <div class="form-group">
              <label for="summary">Summary: </label>
              <textarea class="form-control" id="summary" rows="3" aria-describedby="descriptionHelp"></textarea>
              <small id="descriptionHelp" class="form-text text-muted">
                Write a short description of your story
              </small>
            </div>
            <div class="form-group">
              <label for="language">Language: </label>
              <select class="form-control" id="language" aria-describedby="languageHelp">
                <option>English</option>
                <option>Kannada</option>
                <option>Hindi</option>
                <option>Tamil</option>
                <option>Telugu</option>
              </select>
              <small id="languageHelp" class="form-text text-muted">
                Select the language of your story
              </small>
            </div>
            <div class="form-group">
              <label for="genre">Genre: </label>
              <div class="row">
                <div class="col-sm-4" *ngFor="let genre of genres">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="">
                    <div class="genre-name">{{ genre }}</div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>

    <!-- Write story -->
    <div class="tab">
      <div class="row" formArrayName="chapters">
        <div class="col-md-3">
          <div class="chapter-index">
            <h6>Add Chapters
              <i class="fa fa-plus-circle float-right" aria-hidden="true" (click)="addChapter()"></i>
              <i class="fa fa-undo float-right" aria-hidden="true" (click)="undoStoryChapterDelete()"></i>
            </h6>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                 *ngFor="let chapter of chapters.controls; let i=index">
              <div (click)="makePillActive(i)" [class]="i==activePillId? 'nav-link active' : 'nav-link'" [id]="i" data-toggle="pill" [attr.href]="getDataToggleLink(i)" role="tab" [attr.aria-controls]="getDataToggleLinkForId(i)" [attr.aria-selected]="i==activePillId? true: false">
                <div *ngIf="editChapterTitleId != i">{{ chapters.value[i].title | truncate:[18] }}
                  <i class="fa fa-trash float-right" aria-hidden="true" (click)="removeChapter(i)"></i>
                  <i class="fa fa-pencil float-right" aria-hidden="true" (click)="editChapterTitle(i)"></i>
                </div>
                <div *ngIf="editChapterTitleId == i" [formGroupName]="i">
                  <input type="text" class="input-chapter-title" formControlName="title">
                  <!-- <i class="fa fa-times float-right" aria-hidden="true" (click)="saveChapterTitle()"></i> -->
                  <i class="fa fa-check float-right" aria-hidden="true" (click)="cancelChapterTitleEditing(i,chapters.value[i].title)"></i>
                </div>
              </div>
              <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete this chapter?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeChapter(i)">Yes</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div *ngFor="let chapter of chapters.controls; let i=index" [class]="i==activePillId? 'tab-pane fade show active': 'tab-pane fade'" [id]="getDataToggleLinkForId(i)" role="tabpanel" [attr.aria-labelledby]="getDataToggleLinkForId(i)">
              <tiny-editor [elementId]="tinyMCEId(i)" [tinyMCEContent]="chapters.value[i].body" (onEditorKeyup)="keyupTinyMCEHandlerFunction($event,i)"></tiny-editor>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="mr-5" style="overflow:auto;">
      <div style="float:right;">
        <button class="btn btn-primary btn-sm" type="button" id="prevBtn" (click)="nextPrev(-1)">
          Previous
        </button>
        <button class="btn btn-primary btn-sm" type="button" id="nextBtn" (click)="nextPrev(1)">
          Next
        </button>
      </div>
    </div>
  </div>
</form>
