.dashboard-card {
    height:inherit !important;
}
.dashboard-btns {
    border: 2px solid rgb(218, 218, 218);
    border-radius: 2%;
    display: inline;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.dashboard-custom-icon {
    width: 26px;
    height: 18px;
}
.dashapp-icon {
    width: 35px;
}
.dashboard-nav-items {
    cursor: pointer;
}
.dashboard-nav-items:hover {
    border-bottom: 2px solid rgb(173, 173, 173);
}
.dashboard-row .col-md-5 {
    margin-bottom: 1em;
}

@media (min-width: 1024px) { 
    .pie-chart {
        width: 60%;
        height: 60%;
        float: right;
    }
    .bookmark-btn {
        margin-right: 1em;
    }
}

@media (max-width: 1023px) { 
    .pie-chart {
        width: 100%;
        height: 100%;
        float: right;
    }
    .analytics-button {
        width: 100%;
    }
    .bookmark-btn {
        width: 40%;
    }
    .favourites-btn {
        width: 60%;
    }
}