<!-- Dashboard - Visible only for signed in user -->
<br>
<h6><b>Dashboard</b></h6>
<!-- <ul>
  <li>You are #[number] trending author on AuthorGlass</li>
  <li>Pi-Chart showing number of views for latest 10 stories by authors</li>
  <li>Latest comments/reviews & ratings for the stories written by author</li>
  <li>Link to Analytics</li>
</ul> -->
<div class="card">
	<div class="card-block dashboard-card">
		<div class="row">
      <div class="col-md-6 my-auto">
          <div class="line-chart">
            <canvas baseChart width="800" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
      </div>
			<div class="col-md-6">
          <div class="pie-chart">
            <canvas baseChart width="400" height="400"
                    [datasets]="pieChartData"
                    [labels]="pieChartLabels"
                    [options]="pieChartOptions"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
			</div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
          <hr>
          <button type="button" class="btn btn-outline-danger btn-sm float-left bookmark-btn">11 Bookmarks</button>
          <button type="button" class="btn btn-outline-success btn-sm float-left favourites-btn">21 Favourites</button>
          <button type="button" class="btn btn-outline-primary btn-sm float-right my-auto analytics-button" routerLink="analytics">More <i class="fa fa-chevron-right hidden-sm-down" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>