<!-- Dashboard - Visible only for signed in user -->
<h6><b>Dashboard</b></h6>
<!-- <ul>
  <li>You are #[number] trending author on AuthorGlass</li>
  <li>Pi-Chart showing number of views for latest 10 stories by authors</li>
  <li>Latest comments/reviews & ratings for the stories written by author</li>
  <li>Link to Analytics</li>
</ul> -->
<div class="row">
    <div class="col-md-6">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
      <button (click)="randomize()">CLICK</button>
    </div>
  </div>