<!-- Dashboard - Visible only for signed in user -->
<h6><b>Dashboard</b></h6>
<div class="card">
	<div class="card-block dashboard-card">
		<div class="row">
      <div class="col-md-7 my-auto">
        <div class="row dashboard-row">
          <div class="col-md-5 col-xs-6" *ngFor="let dashapp of dashboardApps">
            <span [routerLink]="dashapp.routerlink">
              <table>
                <tr>
                  <td class="dashapp-icon dashboard-nav-items" *ngIf="dashapp.isGlyphicon">
                    <i [ngClass]="dashapp.glyphicon" aria-hidden="true" [style.color]="dashapp.color"></i>
                  </td>
                  <td width="35px" *ngIf="!dashapp.isGlyphicon" class="dashboard-nav-items">
                    <img src="assets/dashboard-icons/imageedit_2_9923362810.png" class="dashboard-custom-icon">
                  </td>
                  <td class="dashboard-nav-items">{{ dashapp.name }}</td>
                </tr>
              </table>
            </span>
          </div>
        </div>
      </div>

			<div class="col-md-5">
          <div class="pie-chart">
            <canvas baseChart width="400" height="400"
                    [datasets]="pieChartData"
                    [labels]="pieChartLabels"
                    [options]="pieChartOptions"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
            </canvas>
          </div>
			</div>
    </div>
    <!-- <br>
    <div class="row">
      <div class="col-12">
          <hr class="hidden-sm-down">
          <button type="button" class="btn btn-outline-danger btn-sm float-left bookmark-btn">Bookmarks</button>
          <button type="button" class="btn btn-outline-success btn-sm float-left favourites-btn">Favourite Dialogs</button>
          <button type="button" class="btn btn-outline-primary btn-sm float-right analytics-button" routerLink="analytics">More <i class="fa fa-chevron-right hidden-sm-down" aria-hidden="true"></i></button>
      </div>
    </div> -->
  </div>
</div>