<!-- Search Bar -->
<div class="row">
        <div class="col-sm-3 col-xs-1"></div>
        <div class="col-sm-6 col-xs-10">
            <div class="input-group">
                <input  type="text" 
                        class="form-control search-input" 
                        placeholder="Search" 
                        aria-describedby="basic-addon2">
                <button class="input-group-addon search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="col-sm-3 col-xs-1"></div>
    </div>
    <!-- End of Search Bar -->