<div class="authorglass-navbar">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand">
            <a routerLink="/" style="color: inherit;text-decoration:none;">
                <img src="/assets/authorglass_logo.png" height="30" class="d-inline-block align-top" alt="">
                <span class="hidden-xs-down"><b><i>AuthorGlass</i></b></span> 
            </a>
            <span class="hidden-lg-up">
                <i class="fa fa-bell-o nav-link dropdown-toggle active hidden-lg-up" aria-hidden="true" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <!-- <ul class="navbar-nav ml-auto"> -->
                <!-- <div class="dropdown"> -->
                    <div class="dropdown-menu notification-menu" aria-labelledby="notification">
                        <span class="triangle"></span>
                        <h6 class="dropdown-header notification-header"><small><b>Notification</b></small></h6>
                        <ul class="notification-items">
                            <li class="notification-item" href="#">Notification 2</li>
                            <li class="notification-item" href="#">{{ "helljwdj ijd iwdi iwj whelljwdj ijd iwdi iwj whelljwdj ijd iwdi iwj whelljwdj ijd iwdi iwj w" | trim:[50] }}</li>
                            <li class="notification-item" href="#">Something else here</li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item notification-footer" href="#">View all</a>
                    </div>
                <!-- </div> -->
                <!-- </ul> -->
            </span> 
            <!-- <i class="fa fa-bell-o hidden-lg-up" aria-hidden="true"></i> -->
        </div>       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto my-auto">
                <li class="nav-item">
                    <!-- Search Bar -->
                    <suggest></suggest>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="dropdown">
                    <i class="fa fa-bell-o fa-lg hidden-md-down nav-link dropdown-toggle active" aria-hidden="true" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu notification-menu" aria-labelledby="notification">
                        <span class="triangle"></span>
                        <h6 class="dropdown-header notification-header"><small><b>Notification</b></small></h6>
                        <ul class="notification-items">
                            <li class="notification-item" href="#">{{ 'a \n  b' }}</li>
                            <li class="notification-item" href="#">Another action Another actionAnother actionAnother actionAnother actionAnother action</li>
                            <li class="notification-item" href="#">Something else here</li>
                        </ul>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item notification-footer" href="#">View all</a>
                    </div>
                </li>
                <!-- <li>
                    <i class="fa fa-bell-o fa-lg hidden-md-down" aria-hidden="true"></i>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="story/write" routerLinkActive="active">
                        Write-A-Book
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="authentication/signin" routerLinkActive="active">
                        Sign In
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- <suggest></suggest> -->
</div>
<!-- End of Navigation Bar -->