<blockquote class="blockquote text-right">
    <p class="mb-0"> <u>Story Title</u> </p>
    <footer class="blockquote-footer">written by 
      <cite title="Source Title"><a id="author-name" routerLink="/author">Author Name</a></cite></footer>
  </blockquote>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="read-tab" data-toggle="tab" href="#read" role="tab" aria-controls="read" aria-selected="true">Read</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ratings-tab" data-toggle="tab" href="#ratings" role="tab" aria-controls="ratings" aria-selected="false">Reviews</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="alternate-tab" data-toggle="tab" href="#alternate" role="tab" aria-controls="alternate" aria-selected="false">Alternate</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="read" role="tabpanel" aria-labelledby="read-tab">
      <br>
      <app-read></app-read>
  </div>

  <div class="tab-pane fade" id="ratings" role="tabpanel" aria-labelledby="ratings-tab">
      <!-- Display Analytics, Ratings, Reviews -->
      <br>
      <app-ratings></app-ratings>
  </div>

  <div class="tab-pane fade" id="alternate" role="tabpanel" aria-labelledby="alternate-tab">
      <br>
      Display people who have written similar or alternate endings
      <app-alternate></app-alternate>
  </div>
</div>