<h6>Analytics</h6>

<p>
  Lot of analytics coming up ...
</p>

<div class="row">
  <div class="col-md-6">
    <div class="line-chart">
      <canvas baseChart width="800" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>