.pageno {
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;      
    appearance: none;
    background-color: rgb(252, 252, 252);
    padding-bottom: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}
.pageno::-ms-expand
{
    display: none;
}
.pageno > option {
    background-color: rgb(252, 252, 252);
    padding: 2px 2px 2px 2px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    outline: none;
    border: none;
}
.card-header{
    border: none;
    background-color: rgb(252, 252, 252);
    padding-bottom: 0;
    font-size: 12px;
    font-style: oblique;
}
.card-block{
    text-align: justify;
    background-color: rgb(252, 252, 252);
    padding-top: 1%;
    padding-bottom: 1%;
}
.card-footer {
    border: none;
    background-color: rgb(252, 252, 252);
    padding-top: 0;
    font-size: 12px;
    font-style: oblique;
}
.pages {
    /* position: relative; */
}
.page {
    position: absolute;
    padding: 0;
    width: 98%;
}
#page1 {
    z-index: 100;
}
#page2 {
    z-index: 50;
}
@media(max-width:767px){
    .container {
        padding-left: 0;
    }
}