.card-block{
    text-align: justify;
    background-color: rgb(252, 252, 252);
    padding-top: 1%;
    padding-bottom: 1%;
}
.card-header {
    border: none;
    background-color: rgb(252, 252, 252);
    padding-bottom: 0;
    font-size: 12px;
    font-style: oblique;
}
.card-footer {
    border: none;
    background-color: rgb(252, 252, 252);
    padding-top: 0;
    font-size: 12px;
    font-style: oblique;
}