.search-btn:hover{
    background-color: lightgray;
}
.search-btn{
    background-color: white;
    outline: 0;
    border: 2px solid #000000;
    border-left: none;
    cursor:pointer;
}
.search-input{
    background-color: white;
    outline: 0;
    border: 2px solid #000000;
	border-right: none;
}
.results{
	list-style-type: none;
	z-index: 10;
	padding: 0;
	position: absolute;
	width: 94.5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.suggestions{
	z-index: 10;
	background: white;
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.suggestions > a{
	text-decoration: none;
	padding: 5px 2px 5px 2px;
	color: black;
}
.suggestions:hover {
	background: #cccccc;
}
.input-group {
	margin-top: 8px;
	height: 70%;
}