<!-- Add an edit button, passing the HTML id of the image
    and the public URL to the image -->

<div class="container">
    <div class="mx-auto">
        <img id="editableimage" class="center-block" [src]="url ? url: imageUrl" width="210px" height="297px" />
        <button id="edit-coverpage-btn" [hidden]="!url" [disabled]="!url" href="#" class="btn btn-primary btn-sm text-center" (click)="launchEditor('editableimage',url);">
                Edit Coverpage
        </button>
        <div class="d-flex justify-content-center">
            <div>
                <input type="file" id="coverpage-input" (change)="readUrl($event)" placeholder="Upload an image for coverpage" accept="image/x-png, image/gif, image/jpeg">
            </div>
        </div>
    </div>
</div>


<!-- <div class="row align-items-center">
    <div class="col-md-6"> -->
        <!-- original line of HTML here: -->
        <!-- <div>
            <img id="editableimage" class="center-block" [src]="url ? url: imageUrl" width="210px" height="297px" />
            <br>
            <button [disabled]="!url" href="#" class="btn btn-danger btn-sm text-center" (click)="launchEditor('editableimage',url);">
                Edit Coverpage
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <h6 class="text-center">Upload an image for coverpage</h6>
        <input type="file" class="btn btn-info btn-sm text-center" (change)="readUrl($event)" placeholder="Upload an image for coverpage" accept="image/x-png, image/gif, image/jpeg">
    </div>
</div> -->