<!-- Search Bar -->
<!-- Search :{{ search_term }} -->
<!-- <div class="row">
        <div class="col-sm-3 col-xs-1"></div>
        <div class="col-sm-6 col-xs-10">
            <div class="input-group">
                <input  type="search" 
                        class="form-control search-input" 
                        placeholder="Search" 
                        aria-describedby="basic-addon2" [value]="search_term">
                <button class="input-group-addon search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <ul class="results" (mouseleave)="search_term=''">
                <li class="suggestions" (mouseenter)="changeSearchTerm('hello1')">
                    <a>hello1</a>
                </li>
                <li class="suggestions" (mouseenter)="changeSearchTerm('hello2')">
                    <a>hello2</a>
                </li>
                <li class="suggestions" (mouseenter)="changeSearchTerm('hello3')">
                    <a>hello3</a>
                </li>
                <li class="suggestions" (mouseenter)="changeSearchTerm('hello4')">
                    <a>hello4</a>
                </li>
                <li class="suggestions" (mouseenter)="changeSearchTerm('hello5')">
                    <a>hello5</a>
                </li>   
            </ul>            
        </div>
        <div class="col-sm-3 col-xs-1"></div>
    </div> -->
    <!-- End of Search Bar -->
<div class="input-group">
    <input  type="search" 
            class="form-control search-input" 
            placeholder="search by title, author, genre, ..." 
            aria-describedby="basic-addon2" [value]="search_term" size="30%">
    <button class="input-group-addon search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
</div>